/* * {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: 'NanumSquare';
  text-decoration: none;
  list-style: none;
} */

body {
  background-color: #fdfaf2;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 8px;  /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: #f2a69a; /* 스크롤바의 색상 */
  
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: #f2a69a43;  /*스크롤바 뒷 배경 색상*/
}

#cursor {
  position: absolute;
  z-index: 9999999999999999;
  transform: translate(10%, 10%);
  background-image: url(../image/cursorFill3.svg);
  background-size: contain;
  width: 30px;
  height: 30px;
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0);
}


@font-face {
  font-family: 'GangwonEduPowerExtraBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*메인css------------------------------------------------메인css-------------------------------------------*/
.container a {
  text-decoration: none;
}

.container p {
  color: red;
  margin-top: 5px;
  text-indent: 15px;
}
.container .id > .idiv {
  color: red;
  margin-top: 5px;
  text-indent: 15px;
}

.container select {
  border: 1px solid #e5e5e5;
  border-radius: 10px;

}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  width: 100%;
}

.container .logo {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 60px auto;
}

.container .logimg {
  width: 354px;
  height: auto;
}

.container .form {
  display: flex;
  flex-direction: column;
  /* padding-top: 100px; */
  align-items: center;
  margin: 0 auto;
  /* padding-top: 120px; */
  width: 678px;
  height: 1350px;
  border: 0px solid #ffda48;
  border-radius: 10px;
  color: #333;
  text-indent: 10px;
}

.container .welcomcon {
    font-family: 'GangwonEduPowerExtraBoldA';
    padding: 10px 50px;
    margin: 40px 20px 20px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.container .welcom {
  padding-bottom: 10px;
  font-size: 36px;
}

.container .welcomMent {
  font-size: 17px;
}

.container .labcon {
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
}

.container input {
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  background-color: #fff;
}

.container input::placeholder {
  color: #bababa;
}

.container .id {
    font-family: 'GangwonEduPowerExtraBoldA';
    margin-bottom: 20px;
}

.container .idTx {
  width: 320px;
  font-size: 17px;
  border-radius: 10px;
  text-indent: 15px;
  padding: 20px;
}

.container .idTxcon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.container .double {
  width: 205px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  background-color: #f7d3cd;
  color: white;
  font-family: 'GangwonEduPowerExtraBoldA';
}
.container .double:hover {
  background-color: #ffbdb1;
  background: linear-gradient(270deg, #ffbdb1);
  transition: all 0.4s linear;
}

.container .password,
.container .checkpass,
.container .name,
.container .address,
.container .numTxcon {
  display: flex;
  flex-direction: column;
  font-family: 'GangwonEduPowerExtraBoldA';
}

.container .password {
  margin-bottom: 20px;
}

.container .passTx {
  text-indent: 15px;
  
}

.container .checkpass {
  margin-bottom: 20px;
}

.container .checkPassTx {
  text-indent: 15px;
  
}

.container .name {
  margin-bottom: 20px;
}

.container .nameTx {
  text-indent: 15px;
  
}

.container .address {
  margin-bottom: 10px;
}

.container .addTxcon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container .readdTx {
  text-indent: 15px;
  
  margin-top: 10px;
}

.container .numTxcon {
  margin: 10px 0;
}

.container .numTx {
  text-indent: 15px;
  
}

.container .emailcont,
.container .birthcon {
  display: flex;
  flex-direction: row;
}

.container .emailcont {
  align-items: center;
  justify-content: space-around;
}

.container .emailconcont {
  margin: 10px 0;
  font-family: 'GangwonEduPowerExtraBoldA';
}

.container .email {
  text-indent: 15px;
  
}

.container .gorbang {
  text-indent: 0;
}

.container .emailchoice {
  text-indent: 15px;
  background-color: #fff;
}

.container .birth {
  margin: 10px 0;
  font-family: 'GangwonEduPowerExtraBoldA';
}

.container .birthcon {
  justify-content: space-between;
}

.container .passTx,
.container .checkPassTx,
.container .nameTx,
.container .numTx,
.container .email,
.container .readdTx {
  width: 564px;
  padding: 20px 20px 20px 20px;
  font-size: 17px;
  border-radius: 10px;
}

.container .addTx {
  width: 305px;
  padding: 20px;
  font-size: 17px;
  border-radius: 10px;
  text-indent: 15px;
}

.container .search {
  width: 236px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  background-color: #f7d3cd;
  color: white;
  font-family: 'GangwonEduPowerExtraBoldA';
}
.container .search:hover {
  background-color: #ffbdb1;
  background: linear-gradient(270deg, #ffbdb1);
  transition: all 0.4s linear;
}

.container .email {
  width: 232px;
  font-size: 17px;
  border-radius: 10px;
}

.container .emailchoice {
  width: 145px;
  padding: 20px 0;
  font-size: 15px;
  border-radius: 10px;
  color: #bababa;
  line-height: 1.5;
}

.container .emailcom {
  width: 145px;
  padding: 20px 0;
  font-size: 15px;
  border-radius: 10px;
  color: #bababa;
  line-height: 1.5;
  text-indent: 15px;
}

.container .emailgray {
  background-color: #f1f1f1;
  width: 145px;
  padding: 20px 0;
  font-size: 15px;
  border-radius: 10px;
  color: #bababa;
  line-height: 1.5;
  text-indent: 15px;
}

.container .birthY,
.container .birthM,
.container .birthD {
  width: 173px;
  padding: 20px;
  font-size: 17px;
  border-radius: 10px;
  color: #bababa;
  text-indent: 15px;
  background-color: #fff;
}

.container .sign {
  margin: 10px 20px;
  font-family: 'GangwonEduPowerExtraBoldA';
}

.container .signOk,
.container .signNo {
  width: 130px;
  height: 48px;
  margin: 30px;
  font-size: 17px;
  border-radius: 10px;
  border: none;
  color: white;
  font-family: 'GangwonEduPowerExtraBoldA';
  cursor: pointer;
}

.container .signOk {
  background-color: #f7d3cd;
}
.container .signOk:hover {
  background-color: #ffbdb1;
  background: linear-gradient(270deg, #ffbdb1);
  transition: all 0.4s linear;
}

.container .signNo {
  background-color: #feea6d;
}
.container .signNo:hover {
  background-color: #ffd23e;
  background: linear-gradient(270deg, #ffd23e);
  transition: all 0.4s linear;
}


/*-------------푸터-------------------------------------------------------------------푸터*/
.main-section-footer #footer {
  margin-top: 10px;
}

.footer {
  padding: 48px 0;
  background-color: rgb(215, 230, 223);
  color: black;
  transition: all 0.3s cubic-bezier(0.16, 0.04, 0.03, 0.95);
  font-family: 'GangwonEduPowerExtraBoldA';
}

.footer .container {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  /* width: 100%; */
  text-align: left;
  /* display: block; */
  /* position: relative; */
  margin: 0 auto;
  padding: 0 48px;
  /* max-width: 1500px; */
}

.footer-bottom {
  margin-top: 48px;
  padding-top: 48px;
  border-top: 1px solid black;
  transition: all 0.3s cubic-bezier(0.16, 0.04, 0.03, 0.95);
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.footer ul {
  list-style-position: inside;
  font-family: 'GangwonEduPowerExtraBoldA';
}

.footer li {
  list-style: none;
  font-family: 'GangwonEduPowerExtraBoldA';
}

.footer a {
  font-family: 'GangwonEduPowerExtraBoldA';
}

.footer strong {
  font-family: 'GangwonEduPowerExtraBoldA';
}

.footer span {
  font-family: 'GangwonEduPowerExtraBoldA';
}

.footer-top-menu li:first-child {
  margin-top: 0;
}

.footer-top-menu a {
  display: block;
  font-size: 24px;
  font-weight: 600;
  color: black;
  transition: all 0.3s cubic-bezier(0.16, 0.04, 0.03, 0.95);
}

.footer-top-menu li {
  display: block;
  margin-top: 16px;
  transition: all 0.3s cubic-bezier(0.16, 0.04, 0.03, 0.95);
}

.footer-top-cs dl:first-child {
  margin-top: 0;
}

.footer-top-cs dl {
  display: block;
  transition: all 0.3s cubic-bezier(0.16, 0.04, 0.03, 0.95);
}

.footer-top-cs dl dt{
  font-family: 'GangwonEduPowerExtraBoldA';
}
.footer-top-cs dl dd{
  font-family: 'GangwonEduPowerExtraBoldA';
}
.footer-top-cs dl dd ul li{
  font-family: 'GangwonEduPowerExtraBoldA';
}

.footer-top::after {
  clear: both;
  content: ' ';
  display: table;
}

*::after {
  box-sizing: inherit;
}

.float-none {
  float: none !important;
}

.footer-bottom {
  margin-top: 48px;
  padding-top: 48px;
  border-top: 1px solid #000;
  transition: all 0.3s cubic-bezier(0.16, 0.04, 0.03, 0.95);
}

.footer-bottom-info li {
  display: inline-block;
}

.footer a {
  color: inherit;
  text-decoration: inherit;
}

.footer-bottom-menu {
  margin-bottom: 20px;
  transition: all 0.3s cubic-bezier(0.16, 0.04, 0.03, 0.95);
}

.footer-bottom-menu li {
  display: inline-block;
  margin-right: 40px;
  transition: all 0.3s cubic-bezier(0.16, 0.04, 0.03, 0.95);
}

.footer-bottom-menu a {
  font-size: 14px;
  font-weight: 600;
  color: black;
  transition: all 0.3s cubic-bezier(0.16, 0.04, 0.03, 0.95);
}

.footer a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.footer-bottom-info {
  font-size: 14px;
  font-weight: 400;
  color: #777;
  transition: all 0.3s cubic-bezier(0.16, 0.04, 0.03, 0.95);
}

.footer-bottom-info {
  font-size: 14px;
  font-weight: 400;
  color: #777;
  transition: all 0.3s cubic-bezier(0.16, 0.04, 0.03, 0.95);
}

.footer-bottom-info ul {
  margin-bottom: 8px;
  transition: all 0.3s cubic-bezier(0.16, 0.04, 0.03, 0.95);
}

.footer-bottom-copy {
  display: block;
  margin-top: 16px;
  margin-bottom: 24px;
  font-family: 'Mark Pro';
  font-size: 12px;
  font-weight: 400;
  color: #777;
  transition: all 0.3s cubic-bezier(0.16, 0.04, 0.03, 0.95);
}

.footer-bottom-copy span {
  display: inline-block;
  margin-right: 4px;
  transition: all 0.3s cubic-bezier(0.16, 0.04, 0.03, 0.95);
}

.footer-bottom-sns__link:first-child {
  margin-left: 0;
}

.footer-bottom-sns__link {
  display: inline-block;
  margin-left: 14px;
  transition: all 0.3s cubic-bezier(0.16, 0.04, 0.03, 0.95);
}

.footer-bottom-sns__link {
  display: inline-block;
  margin-left: 14px;
  transition: all 0.3s cubic-bezier(0.16, 0.04, 0.03, 0.95);
}

@media(max-width: 1120px) {
  .menu {
    display: none;
  }
  .btn-allmenu{
    display: block;
  }
  
}

@media(max-width: 1024px){
 .category {
  display: none;
 }
}


@media(max-width: 900px){
    
  }